*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    height: 520px;
    width: 390px;
    margin-left: 36%;
    margin-top: 5%;
    background-color: aliceblue;
    border-radius: 15px;
    border: 2px solid aquamarine;
}

h2{
    text-align: center;
    margin-top: 10px;
}

input{
    margin-top: 10px;
    height: 40px;
    width: 220px;
}

button{
    height: 40px;
    width: 324px;
    margin-left: 31px;
    margin-top: 5px;
    border: 0;
    border-radius: 7px;
    background-color: aquamarine;
    cursor: pointer;
}

.inp3 {
    margin-left: 20px;
    margin-top: 8px;
}

.in1 {
    margin-left: 16px;
}
.in2 {
    margin-left: 16px;
}
.in3 {
    margin-left: 82px;
}
.in4 {
    margin-left: 82px;
}

.in5 {
    margin-left: 76px;
}

.in7 {
    margin-left: 14px;
}